extends layout

block content
  h1= Update Custom Object Form | Integrating With HubSpot I Practicum
  a(href="/") Back to Home
  form(action="/update-cobj" method="POST")
    div
      label(for="name") Name:
      input(type="text" name="name" id="name" required)
    div
      label(for="goals") Goals:
      input(type="number" name="goals" id="goals" required min="0")
    div
      label(for="assists") Assists:
      input(type="number" name="assists" id="assists" required min="0")
    div
      button(type="submit") Create Hockey Player
